{
  "presets": [
    ["@babel/preset-env"]
  ],
  "plugins": [
    ["@babel/plugin-syntax-dynamic-import"], ["@babel/plugin-transform-runtime"]
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node", "@babel/plugin-transform-runtime"]
    }
  }
}
