
/*{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/stage-3"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" }}]
      ]
    }
  }
}*/

{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}