<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="config/bootstrap.php"
>
    <php>
        <server name="KERNEL_CLASS" value="\App\Kernel" />
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="test" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <env name="DATABASE_URL" value="postgresql://test_archiraq_admin:password@localhost:5432/test_archiraq" />
        <env name="BING_API_KEY" value="BingApiKey" />
        <env name="GEOSERVER_BASE_URL" value="http://localhost:8080" />
        <env name="GEOSERVER_GUEST_AUTH" value="some:auth" />
        <env name="JOB_OWNER" value=":" />
        <!--<env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />-->
    </php>

    <testsuites>
        <testsuite name="Archiraq Test Suite">
            <directory>tests/tdd</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
