{% extends 'base.html.twig' %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascriptEnvData %}
    <script id="env-data">
            window.envData = {
                bingApiKey: '{{ bing_api_key }}',
                geoServer: {
                    baseUrl: '{{ geoserver.base_url }}',
                    guestAuth: '{{ geoserver.guest_auth|base64_encode }}'
                }
            }
    </script>
{% endblock %}