@import '~vuetify/src/stylus/settings/_variables'

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

$material-light.background = #FFF
$body-font-family = 'Work Sans', sans-serif;
$alert-font-size = 18px

@import '~vuetify/src/stylus/app'